#todo
    padding: 60px 0
    .box
        width: 300px
        padding: 22px
        border-radius: 20px
        background: linear-gradient(0deg,rgba(34, 193, 195,1 ) 0%, rgba(235, 187,45 ,1 ) 100%)
        h1
            color: #ffff
            font-weight: 700
            font-size: 40px
    .inputBox
        margin: 30px 0
        input
            padding: 15px
            border-radius: 20px
    .btn
        h5
            background-color: #ffff
            border-radius: 20px
            padding: 10px 25px
            &:hover
                cursor: pointer
    .list
        padding: 30px 0
        h2
            width: 150px
            font-size: 20px
            padding: 10px
            margin-top: 20px
            border: 1px solid #1f4cc7
            border-radius: 20px
            word-wrap: break-word
